/* General styles for the index file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* added font family */
@font-face {
    font-family: "Bmitra";
    src: url(./Fonts/BMitraBd.ttf);
}
body {
    font-family: "Bmitra";
    background-color: #00B7B5;
    color: #ffffff;
    direction: rtl;
}
/* style for header website */
header {
    background-color: #018790;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
header > :first-child{
    font-size: xx-large;
    text-decoration: none;
    color: #ffffff;
    margin-left: 2rem;
}
nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
nav ul li{
    min-height: fit-content;
    min-width: fit-content;
    /* margin: 0.5rem; */
    padding: 0.8rem 0.5rem;
    transition: 0.3s;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: large;
}
nav ul li:hover {
    transition: 0.1s;
    background-color: #005461;
    border-radius: 0.5rem;
}

/* style for services.html */
.toolbox{
    margin: 0.8rem;
}
.toolbox h2{
    color: black;
}
.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
.services input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 50%;
    font-size: medium;
}
.services button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #018790;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
}
.services button:hover,
.services a:hover {
    background-color: #005461;
    transition: background-color 0.1s;
}
.services img{
    border-radius: 0.5rem;
    max-width: 200px;
    max-height: 200px;
}
.services a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #018790;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    transition: 0.3s;
    width: 30%;
}